### Storytelling Project
##### Find the driver of customers churning on month-to-month plan.

In [4]:
import pandas as pd
import numpy as np
from pydataset import data
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
customers = pd.read_csv('customer_spreadsheet.csv')
customers.sample(5)

,customer_id,gender,is_senior_citizen,partner,dependents,phone_service,internet_service,contract_type,payment_type,monthly_charges,...,no_dependents_yes_partners,dependents_no_partners,yes_dependents_and_partners,Unnamed: 23,start_date,average_monthly_charges,validate_monthly_charges,contract_type_desc,phone_type_desc,internet_type_desc
5857,8231-BSWXX,Male,0,No,No,2,2,1,Credit card (automatic),$79.05,...,NaN,NaN,NaN,NaN,20150623,$79.05,True,1 Year,Two or More Lines,Fiber Optic
3969,5583-SXDAG,Male,0,Yes,No,1,2,0,Electronic check,$70.00,...,NaN,NaN,NaN,NaN,20210329,$70.00,True,Month-to-Month,One Line,Fiber Optic
6488,9191-MYQKX,Female,0,Yes,No,1,2,0,Bank transfer (automatic),$75.15,...,NaN,NaN,NaN,NaN,20201009,$75.15,True,Month-to-Month,One Line,Fiber Optic
2877,4092-OFQZS,Male,0,Yes,No,1,0,1,Mailed check,$20.65,...,NaN,NaN,NaN,NaN,20190823,$20.65,True,1 Year,One Line,No Internet Service
3548,5027-QPKTE,Male,0,Yes,No,1,2,0,Electronic check,$69.35,...,NaN,NaN,NaN,NaN,20201013,$69.35,True,Month-to-Month,One Line,Fiber Optic

In [19]:
customers.groupby('contract_type').agg(sum)

,is_senior_citizen,phone_service,internet_service,tenure,is_female,has_churned,has_phone,has_internet,has_phone_and_internet,partner_dependents,Unnamed: 23,start_date,validate_monthly_charges
contract_type,,,,,,,,,,,,,
0,807,4981,5479,69832,1925,1655,3499,3351,2975,2958,0.0,78253009769,3875
1,190,1944,1648,61919,718,166,1328,1109,964,1892,0.0,29716138004,1472
2,145,2407,1486,96219,845,48,1534,1057,896,2772,3.0,34174409676,1685

In [26]:
customers.columns

Index(['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents',
       'phone_service', 'internet_service', 'contract_type', 'payment_type',
       'monthly_charges', 'total_charges', 'churn', 'tenure', 'is_female',
       'has_churned', 'has_phone', 'has_internet', 'has_phone_and_internet',
       'partner_dependents', 'no_partners_no_dependents',
       'no_dependents_yes_partners', 'dependents_no_partners',
       'yes_dependents_and_partners', 'Unnamed: 23', 'start_date',
       'average_monthly_charges', 'validate_monthly_charges',
       'contract_type_desc', 'phone_type_desc', 'internet_type_desc'],
      dtype='object')

In [29]:
customers[['churn', 'contract_type']].sample(10)

     churn  contract_type
5817    No              0
5024   Yes              0
1341   Yes              0
3924   Yes              0
4785    No              0
1809    No              2
4167   Yes              0
605    Yes              0
6933   Yes              0
5560    No              2

In [37]:
customers.contract_type.value_counts()

0    3875
2    1695
1    1473
Name: contract_type, dtype: int64

In [42]:
customers.contract_type.value_counts()

0    3875
2    1695
1    1473
Name: contract_type, dtype: int64

In [43]:
customers.churn.value_counts()

No     5174
Yes    1869
Name: churn, dtype: int64